
<section class="py-5" id="ItemImagelist">

    <div class="text-center">
        <h4 class="fw-bolder" th:text="${categoryFilter}"> 전체 </h4>
    </div>

    <div class="container px-1 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <tr th:each="item : ${items}">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" th:src="|/images/${item.profile.storePath}|" width="200" height="150" alt="..." />

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h6 class="brand-name-2" th:text="${item.brand}" ></h6>

                                <h6 class="fw-bolder" th:text="${item.itemName}"> </h6>

                                <!-- Product price-->
                                <td th:text="${item.price} + #{label.priceUnit}" ></td>

                            </div>
                        </div>

                    </div>
                </div>
            </tr>
        </div>
    </div>
</section>

